<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <div class="container-fluid mb-4">
      <div class="row headCart badge-dark">
        <div class="col">
            <a>Mi carrito</a>
        </div>
      </div>
    </div>
    <form action="/cart/updateCart" method="POST">
      <div class="container-fluid mb-4">
        <div class="d-flex flex-row-reverse bd-highlight accionCart">
          <div class="p-2 bd-highlight">
            <a class="btn btn-dark" href="/product/list/1">
              <i class="ichef-reply1"></i> Continuar comprando
            </a>
          </div>
          <div class="p-2 bd-highlight">
              <button class="btn btn-success"><span class="ichef-credit_card iconiChef"></span> Actualizar carro</button>
          </div>
        </div>
      </div>
      <div class="container-fluid detalleCart">
        <% if( typeof itemCart != 'undefined') { %>
          <% if( itemCart.items.length > 0) { %>
            <% for(let i=0; i < itemCart.items.length; i++) { %>
            <div class="row item-cart align-items-center">
                <div id="imagen-cart" class="col-4 col-md-2 col-lg-2 col-xl-2">
                  <img src="/images/products/<%=itemCart.items[i].tipo %>/<%=itemCart.items[i].codigo %>/<%=itemCart.items[i].foto %>" class="img-producto" alt="" width="50px">
                </div>
                <div id="descripcion-cart" class="col-8 col-md-4 col-lg-4 col-xl-4">
                  <p><%=itemCart.items[i].descripcion %></p>
                </div>
                <div id="pu-cart" class="col-3 col-md-2 col-lg-2 col-xl-2">
                  <p>$ <%=itemCart.items[i].precioUnit %></p>
                </div>
                <div id="cantidad-cart" class="col-3 col-md-1 col-lg-1 col-xl-1">
                  <div class="sectionCart colQty qtyAddCart">
                    <div class="qty-minus"><span class="ichef-minus"></span></div>
                    <input type="text" class="border-input inputQty" name="qtyAdd" value="<%=itemCart.items[i].qty %>" readonly/>
                    <div class="qty-plus "><span class="ichef-plus "></span></div>
                  </div>
                </div>
                <div id="total-item-cart" class="col-4 col-md-2 col-lg-2 col-xl-2">
                  <p>$ <%=itemCart.items[i].totalItem %></p>
                </div>
                <div id="accion-cart" class="col-1 col-md-1 col-lg-1 col-xl-1">
                    <a class="deleteLink" data-toggle="tooltip" href="/cart/deleteItem/<%=itemCart.items[i].id %>">
                        <i class="fa fa-trash fa-1x"></i>
                    </a>
                </div>
            </div>
            <% } %>
          <% } else { %>
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="alert alert-warning" role="alert">
                  No hay productos agregados al carrito.
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <img class="img-fluid imgEmptyCart" src="/images/fondos/empty-cart.png" alt="Carrito empty">
              </div>
            </div>
            <% } %>
        <% } else { %>
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-12 col-xl-12">
              <div class="alert alert-warning" role="alert">
                No hay productos agregados al carrito.
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-12 col-xl-12">
                <img class="img-fluid imgEmptyCart" src="/images/fondos/empty-cart.png" alt="Carrito empty">
            </div>
          </div>
        <% } %>
      </div>
    </form>
    <div class="container-fluid resumenCart">
      <div class="row row-resumen">
          <!-- accepted payments column -->
          <div class="col-6">
            <p class="lead">Medios de pago</p>
            <img src="/images/mediospago/visa.png" alt="Visa">
            <img src="/images/mediospago/mastercard.png" alt="Mastercard">
            <img src="/images/mediospago/american-express.png" alt="American Express">
            <img src="/images/mediospago/paypal2.png" alt="Paypal">

            <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla dolorum fugiat
               ea sunt voluptatem maiores eos voluptas voluptatum. Aspernatur nam incidunt
               nobis porro excepturi nemo, molestias autem placeat non praesentium?
            </p>
          </div>
          <!-- /.col -->
          <div class="col-6">
            <div class="tituloResumen badge-dark">
              <p id="pResumen"><b>Resumen compra</b></p>
            </div>
            <div class="table-responsive">
              <table class="table">
                <tbody>
                <tr class="row">
                  <th class="col-sm-12 col-md-4 col-lg-3">Subtotal</th>
                  <td class="col-sm-12 col-md-8 col-lg-9">$ <%=itemCart.subtotal %></td>
                </tr>
                <tr class="row">
                  <th class="col-sm-12 col-md-4 col-lg-3">Descuentos</th>
                  <td class="col-sm-12 col-md-8 col-lg-9">$ <%=itemCart.descuentoTotal %></td>
                </tr>
                <tr class="row">
                  <th class="col-sm-12 col-md-4 col-lg-3">Envio</th>
                  <td class="col-sm-12 col-md-8 col-lg-9">$ 0.00</td>
                </tr>
                <tr class="row">
                  <th class="col-sm-12 col-md-4 col-lg-3">Total</th>
                  <td class="col-sm-12 col-md-8 col-lg-9">$ <%=itemCart.total %></td>
                </tr>
                <tr>
                  <th class="col-sm-12 col-md-8 col-lg-6 col-xl-4">
                    <form id="formPay" action="/cart/pay" method="POST">
                      <button class="btn btn-success"><span class="ichef-credit_card iconiChef"></span> Pagar</button>
                    </form>
                  </th>
                </tr>
              </tbody></table>
            </div>
          </div>
          <!-- /.col -->
      </div>
    </div>
    <%- include('./partials/footer') %>
    <script type="text/javascript " src="/js/store.js "></script>
    <%-include('./partials/script')%>
</body>
</html>

