<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body class="hold-transition login-page" onload="loadImage()">
    <%- include('./partials/header') %>
    <div class="container-fuid fondoFormulario">
        <div id="containerForm" class="container">
            <form method="POST" id="formRegister" action="changePassword?_method=PUT" novalidate>
                <div class="row">
                    <div id="formDatos" class="col-sm-12 col-md-12 col-lg-6">
                        <div class="form-row">
                            <div>
                                <h3 class="register-box-msg register-box-body"><b>Cambiar Contrase単a</b></h3>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Contrase単a anterior *</label>
                                <input type="password" class="form-control" name="passwordUser">
                                <% if (typeof errores != 'undefined') { %>
                                    <% for (let i=0; i < errores.length; i++) { %>
                                      <% if(errores[i].param == 'passwordUser' ) { %>
                                        <div class="msgError"><span class="ichef-brightness_1 iconiChef"></span> <%= errores[i].msg %></div>
                                      <% } %>
                                    <% } %>
                                <% } %>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Nueva contrase単a*</label>
                                <input type="password" class="form-control" name="passwordUserNew">
                                <% if (typeof errores != 'undefined') { %>
                                    <% for (let i=0; i < errores.length; i++) { %>
                                      <% if(errores[i].param == 'passwordUserNew' ) { %>
                                        <div class="msgError"><span class="ichef-brightness_1 iconiChef"></span> <%= errores[i].msg %></div>
                                      <% } %>
                                    <% } %>
                                <% } %>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Confirmar contrase単a*</label>
                                <input type="password" class="form-control" name="repeatPasswordUserNew">
                                <% if (typeof errores != 'undefined') { %>
                                    <% for (let i=0; i < errores.length; i++) { %>
                                    <% if(errores[i].param == 'repeatPasswordUserNew' ) { %>
                                        <div class="msgError"><span class="ichef-brightness_1 iconiChef"></span> <%= errores[i].msg %></div>
                                    <% } %>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div id="formAction">
                        <a class="btn btn-dark" href="userAccount">Cancelar</a>
                        <button class="btn btn-dark" type="submit"><span class="ichef-save iconiChef"></span> Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <%- include('./partials/footer') %>
    <%- include('./partials/script') %>
</body>
</html>