<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <div class="row headTable">
        <div class="col">
            <h5>Configuración</h5>
        </div>
    </div>
    <div class="container-fluid">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active text-dark" id="marcas-tab" href="#marcas" data-toggle="tab" role="tab" aria-controls="marcas" aria-selected="true">Marcas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" id="grupos-tab" href="#grupos" data-toggle="tab" role="tab" aria-controls="grupos" aria-selected="false">Grupos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" id="ingredientes-tab" href="#ingredientes" data-toggle="tab" role="tab" aria-controls="ingredientes" aria-selected="false">Ingredientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" id="general-tab" href="#general" data-toggle="tab" role="tab" aria-controls="general" aria-selected="false">General</a>
            </li>
        </ul>
        <div class="tab-content" id="tabContentProduct">
            <div class="tab-pane fade show active" id="marcas" role="tabpanel" aria-labelledby="marcas-tab">
              <div class="container">
                <form method="POST" class="formParams" action="#" enctype="multipart/form-data" novalidate>
                    <div class="row">
                      <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="row">
                          <div class="col-sm-8 col-md-8 col-lg-6">
                            <input type="text" class="form-control" placeholder="Marca" name="valor">
                          </div>
                          <div class="col-sm-4 col-md-4 col-lg-3">
                            <button class="btn btn-dark" type="submit">Agregar</button>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="row">
                          <div class="col-sm-8 col-md-8 col-lg-6">
                            <input class="form-control mr-sm-2" type="search" name="buscarMarca" placeholder="Buscar marca" aria-label="Buscar">
                          </div>
                          <div class="col-sm-4 col-md-4 col-lg-3">
                            <button class="btn btn-dark my-2 my-sm-0" type="submit"><span class="ichef-search1"></span></button>
                          </div>
                        </div>
                      </div>
                    </div>
                </form>
                <div class="row">
                  <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th class="titleHead" scope="col">Id</th>
                        <th class="titleHead" scope="col">Descripción</th>
                        <th class="titleHead" scope="col">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <%- include('./partials/tableConfig',{ datos: marcasProd, tipoParametro: 'pMarcas' }) %>
                  </table>
                </div>
                <div class="row indiceTabla">
                  <nav aria-label="Page navigation example">
                    <ul class="pagination ">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                          <!-- skip_page = (num_page-1)*20 -->
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="grupos" role="tabpanel" aria-labelledby="grupos-tab">
              <div class="container">
                <form method="POST" class="formParams" action="#" enctype="multipart/form-data" novalidate>
                    <div class="row">
                      <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="row">
                          <div class="col-sm-8 col-md-8 col-lg-6">
                            <input type="text" class="form-control" placeholder="Rubro" name="valor">
                          </div>
                          <div class="col-sm-4 col-md-4 col-lg-3">
                            <button class="btn btn-dark" type="submit">Agregar</button>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="row">
                          <div class="col-sm-8 col-md-8 col-lg-6">
                            <input class="form-control mr-sm-2" type="search" name="buscarRubro" placeholder="Buscar rubro" aria-label="Buscar">
                          </div>
                          <div class="col-sm-4 col-md-4 col-lg-3">
                            <button class="btn btn-dark my-2 my-sm-0" type="submit"><span class="ichef-search1"></span></button>
                          </div>
                        </div>
                      </div>
                    </div>
                </form>
                <div class="row">
                  <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th class="titleHead" scope="col">Id</th>
                        <th class="titleHead" scope="col">Descripción</th>
                        <th class="titleHead" scope="col">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <%- include('./partials/tableConfig',{ datos: rubrosProd, tipoParametro: 'pRubros' }) %>
                  </table>
                </div>
                <div class="row indiceTabla">
                  <nav aria-label="Page navigation example">
                    <ul class="pagination ">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                          <!-- skip_page = (num_page-1)*20 -->
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="ingredientes" role="tabpanel" aria-labelledby="ingredientes-tab">
              <div class="container">
                <form method="POST" class="formParams" action="#" enctype="multipart/form-data" novalidate>
                    <div class="row">
                      <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="row">
                          <div class="col-sm-8 col-md-8 col-lg-6">
                            <input type="text" class="form-control" placeholder="Ingrediente" name="valor">
                          </div>
                          <div class="col-sm-4 col-md-4 col-lg-3">
                            <button class="btn btn-dark" type="submit">Agregar</button>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="row">
                          <div class="col-sm-8 col-md-8 col-lg-6">
                            <input class="form-control mr-sm-2" type="search" name="buscarIngrediente" placeholder="Buscar Ingrediente" aria-label="Buscar">
                          </div>
                          <div class="col-sm-4 col-md-4 col-lg-3">
                            <button class="btn btn-dark my-2 my-sm-0" type="submit"><span class="ichef-search1"></span></button>
                          </div>
                        </div>
                      </div>
                    </div>
                </form>
                <div class="row">
                  <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th class="titleHead" scope="col">Id</th>
                        <th class="titleHead" scope="col">Descripción</th>
                        <th class="titleHead" scope="col">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <%- include('./partials/tableConfig',{ datos: ingredientesProd, tipoParametro: 'pIngredientes' }) %>
                  </table>
                </div>
                <div class="row indiceTabla">
                  <nav aria-label="Page navigation example">
                    <ul class="pagination ">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                          <!-- skip_page = (num_page-1)*20 -->
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="general" role="tabpanel" aria-labelledby="general-tab">
              <div class="container">
                <form method="POST" class="formParams" action="#" enctype="multipart/form-data" novalidate>
                    <div class="row">
                      <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="row">
                          <div class="col-sm-8 col-md-8 col-lg-6">
                            <input type="text" class="form-control" placeholder="Tipo producto" name="valor">
                          </div>
                          <div class="col-sm-4 col-md-4 col-lg-3">
                            <button class="btn btn-dark" type="submit">Agregar</button>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="row">
                          <div class="col-sm-8 col-md-8 col-lg-6">
                            <input class="form-control mr-sm-2" type="search" name="buscarTipoProducto" placeholder="Buscar tipoProducto" aria-label="Buscar">
                          </div>
                          <div class="col-sm-4 col-md-4 col-lg-3">
                            <button class="btn btn-dark my-2 my-sm-0" type="submit"><span class="ichef-search1"></span></button>
                          </div>
                        </div>
                      </div>
                    </div>
                </form>
                <div class="row">
                  <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th class="titleHead" scope="col">Id</th>
                        <th class="titleHead" scope="col">Descripción</th>
                        <th class="titleHead" scope="col">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <%- include('./partials/tableConfig', { datos: tipoProducto, tipoParametro: 'pTipoProducto' }) %>
                  </table>
                </div>
              </div>
              <div class="container">
                <form method="POST" class="formParams" action="#" enctype="multipart/form-data" novalidate>
                    <div class="row">
                      <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="row">
                          <div class="col-sm-8 col-md-8 col-lg-6">
                            <input type="text" class="form-control" placeholder="Comensales" name="valor">
                          </div>
                          <div class="col-sm-4 col-md-4 col-lg-3">
                            <button class="btn btn-dark" type="submit">Agregar</button>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="row">
                          <div class="col-sm-8 col-md-8 col-lg-6">
                            <input class="form-control mr-sm-2" type="search" name="buscarComensales" placeholder="Buscar comensales" aria-label="Buscar">
                          </div>
                          <div class="col-sm-4 col-md-4 col-lg-3">
                            <button class="btn btn-dark my-2 my-sm-0" type="submit"><span class="ichef-search1"></span></button>
                          </div>
                        </div>
                      </div>
                    </div>
                </form>
                <div class="row">
                  <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                      <th class="titleHead" scope="col">Id</th>
                      <th class="titleHead" scope="col">Nro. comensales</th>
                      <th class="titleHead" scope="col">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <%- include('./partials/tableConfig', { datos: cantComensales, tipoParametro: 'pComensales' }) %>
                  </table>
                </div>
              </div>
              <div class="container">
                <form method="POST" class="formParams" action="#" enctype="multipart/form-data" novalidate>
                    <div class="row">
                      <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="row">
                          <div class="col-sm-8 col-md-8 col-lg-6">
                            <input type="text" class="form-control" placeholder="Estado" name="valor">
                          </div>
                          <div class="col-sm-4 col-md-4 col-lg-3">
                            <button class="btn btn-dark" type="submit">Agregar</button>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="row">
                          <div class="col-sm-8 col-md-8 col-lg-6">
                            <input class="form-control mr-sm-2" type="search" name="buscarEstadoUsuario" placeholder="Buscar estado" aria-label="Buscar">
                          </div>
                          <div class="col-sm-4 col-md-4 col-lg-3">
                            <button class="btn btn-dark my-2 my-sm-0" type="submit"><span class="ichef-search1"></span></button>
                          </div>
                        </div>
                      </div>
                    </div>
                </form>
                <div class="row">
                  <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                      <th class="titleHead" scope="col">Id</th>
                      <th class="titleHead" scope="col">Descripción</th>
                      <th class="titleHead" scope="col">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <%- include('./partials/tableConfig', { datos: estadoUsuario, tipoParametro: 'pEstadoUsuario' }) %>
                  </table>
                </div>
              </div>
            </div>
        </div>
    </div>
    <%- include('./partials/footer') %>
    <%-include('./partials/script')%>
</body>
</html>