<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <!--cuerpo-->
    <div>
        <h1>Pagina de Contacto en construcción</h1>
    </div>

    <div>
        <ul>
        <% for(let i=0; i < listaUsuarios.length ; i++) { %>
            <li>
                <p>Id: <%= listaUsuarios[i].id %></p>
                <a>Nombre: <%= listaUsuarios[i].nombre %>, Apellido: <%= listaUsuarios[i].apellido %></a>
            </li>
        <% } %>
        </ul>
    </div>


    <%- include('./partials/footer') %>
    <%-include('./partials/script')%>
</body>
</html>