<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <!--cuerpo-->
    <div class="container mt-2">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Pagina no encontrada</h4>
            <p>Error: <%= error.status %></p>
            <hr>
            <p class="mb-0">Mensaje: <%= message %></p>
        </div>

        <!--pre><%= error.stack %></pre-->
    </div>

    <%- include('./partials/footer') %>
    <%- include('./partials/script')%>
</body>
</html>
