<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <div class="container-fluid mb-4">
        <div class="row headTable badge-dark" style="padding-top: 10px;">
          <div class="col">
              <a>Ordenes de pedido</a>
          </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th class="titleHead" scope="col">id</th>
                    <th class="titleHead" scope="col">Items</th>
                    <th class="titleHead" scope="col">Total</th>
                    <th class="titleHead" scope="col">Fecha</th>
                    <th class="titleHead" scope="col">Usuario</th>
                    <th class="titleHead" scope="col">Estado</th>
                    <th class="titleHead" scope="col">Acciones</th>
                </tr>
                </thead>
                <%- include('./partials/tableOrders') %>
            </table>
        </div>
    </div>
    <%- include('./partials/footer') %>
    <%-include('./partials/script')%>
</body>
</html>