<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>
<body class='body_market'>
    <%- include('./partials/header') %>
    <!--cuerpo-->
    <div class="container">
      <div>
        <h3 class="h3">Market</h3>
      </div>
      <div class="row">
        <% for(let i=0; i < productos.length; i++) { %>
        <div class="col-md-4 col-sm-6">
              <div class="product-grid">
                  <div class="product-image">
                      <a href="/product/<%= productos[i].codigo %>">
                        <% for( let f = 0; f < 2; f++ ) { %>
                          <img class="pic-<%= f %>" src="/images/products/<%=productos[i].product_type_id %>/<%=productos[i].codigo %>/<%=productos[i].fotos[f].nombre %>" alt="<%= productos[i].descripcion %>">
                        <% } %>
                      </a>
                      <ul class="accion-cart">
                          <li>
                            <a href="" class="ichef-eye"></a>
                          </li>
                      </ul>
                      <% if(productos[i].descuento_oferta > 0 ) { %>
                      <span class="product-discount-label">-<%= productos[i].descuento_oferta %>%</span>
                      <% } %>
                  </div>
                  <div class="product-content">
                    <% if(productos[i].precio > productos[i].precio_oferta && productos[i].precio_oferta > 0 ) { %>
                      <div class="price">$<%= productos[i].precio_oferta  %>
                        <span>Antes $<%= productos[i].precio %></span>
                      </div>
                    <% } else { %>
                      <div class="price">$<%= productos[i].precio %></div>
                    <% } %>
                      <span class="product-brand">Marca: <%= productos[i].marca.descripcion %></span>
                      <h3 class="title"><a href="/product/<%= productos[i].codigo %>"><%= productos[i].descripcion %></a></h3>
                      <a class="all-deals" href="/product/<%= productos[i].id_product %>"><i class="ichef-add_shopping_cart"></i> Agregar</a>
                  </div>
              </div>
        </div>
        <% } %>
      </div>
    </div>

    <%- include('./partials/footer') %>
    <%-include('./partials/script')%>
</body>
</html>