<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>
    <body class='body_market'>
        <%- include('./partials/header') %>
            <!--cuerpo-->
            <div class="container containerProduct">
                <div class="row headTable badge-dark encaProducts">
                    <div class="col-7 col-md-10 col-lg-10">
                        <a>Nuestros productos</a>
                    </div>
                    <div class="col-5 col-md-2 col-lg-2">
                        <% if( typeof tipoProducto != 'undefined') { %>
                            <% if(tipoProducto == 1 ) { %>
                            <a class="btn btn-dark btnVolverConfig" href="/product/list/2">
                                <i class="ichef-reply1"></i> Cocinar
                            </a>
                            <% } else { %>
                            <a class="btn btn-dark btnVolverConfig" href="/product/list/1">
                                <i class="ichef-reply1"></i> Market
                            </a>
                            <% } %>
                        <% } else { %>
                            <a class="btn btn-dark btnVolverConfig" href="/">
                                <i class="ichef-reply1"></i> Home
                            </a>
                        <% } %>
                    </div>
                </div>
                <div class="row rowProducts">
                    <% for(let i=0; i < productos.length; i++) { %>
                        <div class="col-sm-6 col-md-5 col-lg-4 itemList">
                            <form method="POST" action="/cart/add/<%= productos[i].id_product %>" novalidate>
                                <div class="product-grid">
                                    <div class="product-image">
                                        <a href="/product/<%= productos[i].codigo %>">
                                            <% for( let f = 0; f < 2; f++ ) { %>
                                                <img class="pic-<%= f %>" src="/images/products/<%=productos[i].product_type_id %>/<%=productos[i].codigo %>/<%=productos[i].fotos[f].nombre %>" alt="<%= productos[i].descripcion %>">
                                                <% } %>
                                        </a>
                                        <ul class="accion-cart">
                                            <li>
                                                <a href="/product/<%= productos[i].id_product %>" class="ichef-eye"></a>
                                            </li>
                                        </ul>
                                        <% if(productos[i].descuento_oferta > 0 ) { %>
                                            <span class="product-discount-label">-<%= productos[i].descuento_oferta %>%</span>
                                            <% } %>
                                    </div>
                                    <div class="product-content">
                                        <% if(productos[i].precio > productos[i].precio_oferta && productos[i].precio_oferta > 0 ) { %>
                                            <div class="price">$<%= productos[i].precio_oferta  %>
                                                <span>Antes $<%= productos[i].precio %></span>
                                            </div>
                                            <% } else { %>
                                            <div class="price">$<%= productos[i].precio %></div>
                                            <% } %>
                                            <span class="product-brand">Marca: <%= productos[i].marca.descripcion %></span>
                                            <h3 class="title">
                                                <a href="/product/<%= productos[i].codigo %>">
                                                    <%= productos[i].descripcion %>
                                                </a>
                                            </h3>
                                            <div class="qtyCart">
                                                <div class="section colQty qtyAddCart">
                                                    <div class="qty-minus"><span class="ichef-minus"></span></div>
                                                    <input type="text" class="border-input inputQty" name="qtyAdd" value="1" readonly/>
                                                    <div class="qty-plus "><span class="ichef-plus "></span></div>
                                                </div>
                                                <div class="colBtnAdd ">
                                                    <button type="submit " class="btn btn-dark "><i class="ichef-add_shopping_cart "></i> Agregar</button>
                                                    <!--a class="all-deals " href="/cart/add/ "><i class="ichef-add_shopping_cart "></i> Agregar</a-->
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <% } %>
                </div>
            </div>
            <%- include('./partials/footer') %>
            <script type="text/javascript " src="/js/store.js "></script>
            <%-include('./partials/script')%>
    </body>

</html>