<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <%- include('./partials/subtitle') %>
    <div class="container-fluid containerForm">
      <div class="row">
          <div class="producto">
            <div class="card mb-3">
              <div class="row no-gutters">
                <div class="col-md-2">
                  <img src="..." class="card-img" alt="...">
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                      <div class="row">
                        <div class="col-4">
                          <label>Detalle:</label>
                          <span>Producto 1</span>
                        </div>
                        <div class="col-2">
                          <label>Precio:</label>
                          <span>$100</span>
                        </div>
                        <div class="col-2">
                          <label>Cantidad:</label>
                          <select class="form-control" id="idQuantity">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                          </select>
                        </div>
                        <div class="col-2">
                          <label>Subtotal:</label>
                          <span>$100</span>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="resumen">
              <div class="detalle"></div>
              <div class="accionesCarrito"></div>
          </div>
      </div>
    </div>
    <%- include('./partials/footer') %>
    <%-include('./partials/script')%>
</body>
</html>

