<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <!--cuerpo-->
    <div class="container">
        <div>
            <%for(let i=0; i < producto.length; i++ ) { %>
                <p>Producto: <%= producto[i].descripcion  %></p>
                <ul>
                    <% if ( producto[i].ingredientes.ingredients_products.product_id == i ) { %>
                        <li><%= producto[i].ingredientes.descripcion %></li>
                    <% } %>
                </ul>
            <% } %>
        </div>
    </div>
    <%- include('./partials/footer') %>
    <%-include('./partials/script') %>
</body>
</html>