<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>

<body style="font-family: 'Open Sans'; margin:auto; background-image: url(/images/fondo-formulario.jpg); background-repeat: no-repeat; background-size: cover;">
    <%- include('./partials/header') %>
    <%- include('./partials/subtitle') %>
    <!--cuerpo-->
    <div class="container-fluid containerForm">
        <div class="row">
            <form class="col-12 col-md-12 col-lg-12" style="display: flex; flex-direction: column; border-bottom: solid rgba(166,13,13);" method="POST">
                <div style="margin: auto;">
                    <div style="padding: 1vw;">
                        <input type="text" name="nombre" id="nombre" placeholder="Ingrese Nombre/es" minlength="5" maxlength="30" required style="width: 60vw">
                    </div>
                    <div style="padding: 1vw;">
                        <input type="text" name="apellido" id="apellido" placeholder="Ingrese Apellido/es" minlength="5" maxlength="30" required style="width: 60vw">
                    </div>
                    <div style="padding: 1vw;">
                        <input type="tel" name="telefono" id="telefono" placeholder="N° de telefono" style="width: 60vw">
                    </div>
                </div>
                <div style="margin: auto;">
                    <div style="padding: 1vw;">
                        <input type="email" name="email" id="email" placeholder="Dirección de email" pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" required style="width: 60vw">
                    </div>
                    <div style="padding: 1vw;">
                        <input type="password" name="password" id="password" placeholder="Ingrese contarseña" minlength="6" maxlength="6" required style="width: 60vw">
                    </div>
                    <div style="padding: 1vw;">
                        <input type="password" name="repeadpassword" id="repeadpassword" placeholder="Repetir contarseña" minlength="6" maxlength="6" required style="width: 60vw">
                    </div>
                    <div style="padding: 1vw;">
                        <input class="input-register" type="submit" value="Registrarme" style="padding: 0.3vw; background-color: rgba(166,13,13,0.8); color:white; border: none; width: 60vw;" style="width: 60vw">
                    </div>
                </div>
            </form>
            <div style="margin: auto;">
                <div>
                    <h5>Ingresar con:</h5>
                </div>
                <button type="button" title="" style="background-color: transparent; border-radius: 9px; border: solid blue; width: auto;">
                    <img src="/images/icon-facebook.png" alt="logo Facebook" width="40" height="40">
                </button>
                <button type="button" title="" style="background-color: transparent; border-radius: 9px; border: solid green; width: auto;">
                    <img src="/images/icon-google.png" alt="logo Google" width="40" height="40">
                </button>
            </div>
        </div>
    </div>
    <%- include('./partials/footer') %>
    <%-include('./partials/script')%>
</body>
</html>