<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body class="hold-transition login-page" onload="loadImage()">
    <%- include('./partials/header') %>
    <div class="container-fuid fondoFormulario">
        <div>
            <h3 class="register-box-msg register-box-body"><b>Registración</b></h3>
        </div>
        <div id="containerForm" class="container">
            <form method="POST" id="formRegister" action="/users/create" enctype="multipart/form-data" novalidate>
                <div class="row">
                    <div id="formDatos" class="col-sm-12 col-md-12 col-lg-6">
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label>Nombre</label>
                                <input type="text" class="form-control" name="nombreUser">
                                <% if (typeof errores != 'undefined') { %>
                                    <% for (let i=0; i < errores.length; i++) { %>
                                        <% if(errores[i].param == 'nombreUser' ) { %>
                                            <div class="msgError"><span class="ichef-brightness_1 iconiChef"></span> <%= errores[i].msg %></div>
                                        <% } %>
                                    <% } %>
                                <% } %>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Apellido</label>
                                <input type="text" class="form-control" name="apellidoUser">
                                <% if (typeof errores != 'undefined') { %>
                                    <% for (let i=0; i < errores.length; i++) { %>
                                        <% if(errores[i].param == 'apellidoUser' ) { %>
                                            <div class="msgError"><span class="ichef-brightness_1 iconiChef"></span> <%= errores[i].msg %></div>
                                        <% } %>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                              <label>Nro. teléfono</label>
                              <input type="text" minlength="10" class="form-control" name="nroTelefonoUser">
                              <% if (typeof errores != 'undefined') { %>
                                <% for (let i=0; i < errores.length; i++) { %>
                                    <% if(errores[i].param == 'nroTelefonoUser' ) { %>
                                        <div class="msgError"><span class="ichef-brightness_1 iconiChef"></span> <%= errores[i].msg %></div>
                                    <% } %>
                                <% } %>
                              <% } %>
                            </div>
                            <div class="col-md-6 mb-3">
                              <label>Email</label>
                              <input type="email" class="form-control" name="emailUser">
                              <% if (typeof errores != 'undefined') { %>
                                <% for (let i=0; i < errores.length; i++) { %>
                                    <% if(errores[i].param == 'emailUser' ) { %>
                                        <div class="msgError"><span class="ichef-brightness_1 iconiChef"></span> <%= errores[i].msg %></div>
                                    <% } %>
                                <% } %>
                              <% } %>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label>Password</label>
                                <input type="password" class="form-control" name="passwordUser">
                                <% if (typeof errores != 'undefined') { %>
                                    <% for (let i=0; i < errores.length; i++) { %>
                                      <% if(errores[i].param == 'passwordUser' ) { %>
                                        <div class="msgError"><span class="ichef-brightness_1 iconiChef"></span> <%= errores[i].msg %></div>
                                      <% } %>
                                    <% } %>
                                <% } %>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Confirmar password</label>
                                <input type="password" class="form-control" name="repeatPasswordUser">
                                <% if (typeof errores != 'undefined') { %>
                                    <% for (let i=0; i < errores.length; i++) { %>
                                        <% if(errores[i].param == 'repeatPasswordUser' ) { %>
                                            <div class="msgError"><span class="ichef-brightness_1 iconiChef"></span> <%= errores[i].msg %></div>
                                        <% } %>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div id="formImagen" class="col-sm-12 col-md-12 col-lg-6">
                        <label>Imagen perfil</label>
                        <div class="imgUp">
                            <div>
                                <img id="imgAvatar" class="imagePreview" alt="Imagen perfil">
                            </div>
                            <div>
                                <label for="fotoPerfil" id="btnUpload"><span class="ichef-file_upload iconiChef"></span> Cargar
                                    <input type="file" class="img" id="fotoPerfil" name="fotoPerfil" accept="image/png, .jpeg, .jpg, image/gif" onchange="mostrar()">
                                </label>
                            </div>
                        </div>
                        <% if (typeof errores != 'undefined') { %>
                            <% for (let i=0; i < errores.length; i++) { %>
                              <% if(errores[i].param == 'fotoPerfil' ) { %>
                                <div class="msgError"><span class="ichef-brightness_1 iconiChef"></span> <%= errores[i].msg %></div>
                              <% } %>
                            <% } %>
                        <% } %>
                    </div>
                    <div id="formAction">
                        <button class="btn btn-dark" type="submit">Registrarme</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <%- include('./partials/footer') %>
    <%-include('./partials/script')%>
</body>
</html>