<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <!--cuerpo-->
    <div class="container">
        <div>
            <div class="alert alert-<%= tipo %> mt-2" role="alert">
                Bienvenido <%= mensaje %>, ahora podes ingresar con tu usuario desde el
                siguiente enlace, <a class="alert-link" href="login">ir al login</a>.
            </div>
        </div>
    </div>
    <%- include('./partials/footer') %>
    <%-include('./partials/script') %>
</body>
</html>