<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body class="hold-transition login-page" onload="loadImage()">
    <%- include('./partials/header') %>
    <div class="container-fuid fondoFormulario">
        <div id="containerForm" class="container">
            <div class="row">
                <div id="formDatos" class="col-sm-12 col-md-12 col-lg-6">
                    <div>
                        <h3 class="register-box-msg register-box-body"><b>Bienvenido <%= usuarioEdit.nombre %></b></h3>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <p class="datosUser">Nombre: <%= usuarioEdit.nombre %></p>
                            <p class="datosUser"></p>
                        </div>
                        <div class="col-md-12">
                            <p class="datosUser">Apellido: <%= usuarioEdit.apellido %></p>
                            <p class="datosUser"></p>
                        </div>
                        <div class="col-md-12">
                            <p class="datosUser">Nro. teléfono: <%= usuarioEdit.nroTelefono %></p>
                            <p class="datosUser"></p>
                        </div>
                        <div class="col-md-12">
                            <p class="datosUser">Email: <%= usuarioEdit.email %></p>
                            <p class="datosUser"></p>
                        </div>
                    </div>
                </div>
                <div id="formImagen" class="col-sm-12 col-md-12 col-lg-6">
                    <div class="imgUp">
                        <div>
                            <img src="/images/users/<%= usuarioEdit.avatar %>" id="imgAvatar" class="imagePreview" alt="Imagen perfil">
                        </div>
                    </div>
                </div>
                <div id="formAction" class="container">
                    <div id="rowAction" class="row">
                        <a class="btn btn-dark col-sm-12 col-md-6 btnAccion" href="userprofile"><span class="ichef-settings_applications iconiChef"></span> Perfil</a>
                        <a class="btn btn-dark col-sm-12 col-md-6 btnAccion" href="changePassword"><span class="ichef-security iconiChef"></span> Cambiar contraseña</a>
                        <a class="btn btn-dark col-sm-12 col-md-6 btnAccion" href="orders"><span class="ichef-event_note iconiChef"></span> Mis ordenes</a>
                        <a class="btn btn-dark col-sm-12 col-md-6 btnAccion" href="/logout"><span class="ichef-power_settings_new iconiChef"></span> Cerrar sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('./partials/footer') %>
    <%- include('./partials/script') %>
</body>
</html>