<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <div class="row headTable">
        <div class="col-7 col-md-10 col-lg-10">
            <h5>Listado usuarios</h5>
        </div>
        <div class="col-5 col-md-2 col-lg-2">
            <a class="btn btn-primary" href="/users/add">
                <i class="fa fa-plus fa-1x"></i> Nuevo
            </a>
        </div>
    </div>
    <div class="container-fluid">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th class="titleHead" scope="col">id</th>
                <th class="titleHead" scope="col">Apellido</th>
                <th class="titleHead" scope="col">Nombre</th>
                <th class="titleHead" scope="col">Email</th>
                <th class="titleHead" scope="col">Acciones</th>
            </tr>
            </thead>
            <%- include('./partials/tableUsers') %>
        </table>
    </div>
    <%- include('./partials/footer') %>
    <%-include('./partials/script')%>
</body>
</html>