<tbody>
    <%for(let i=0; i < datos.length; i++ ) { %>
        <tr>
            <th class="contentTable" scope="row"><%= datos[i].id %></th>
            <% if(tipoConfig == 'Comensales') { %>
                <td id="ptopDesc" class="contentTable"><%= datos[i].nro_comensales %></td>
            <% } else { %>
                <td id="ptopDesc" class="contentTable"><%= datos[i].descripcion %></td>
            <% } %>
            <td>
                <div class="row justify-content-center align-items-center d-flex">
                    <div class="row-item">
                        <a class="editLink" data-toggle="tooltip" href="/config/<%= tipoConfig %>/<%= datos[i].id %>/edit">
                            <i class="fa fa-pencil fa-1x"></i>
                        </a>
                    </div>
                    <div class="row-item">
                        <form method="POST" action="/config/<%= tipoConfig %>/<%= datos[i].id %>?_method=DELETE">
                            <button class="btn deleteLink" type="submit"><i class="fa fa-trash fa-1x"></i></button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
    <% } %>
    </tbody>