<tr>
    <th scope="row"><%= producto.codigo %></th>
    <td><%= producto.nombre %></td>
    <td class="colPrecio"><%= producto.precio %></td>
    <td>
        <div class="row justify-content-around align-items-center d-flex">
            <div class="row-item">
                <a class="editLink" data-toggle="tooltip" href="/product/<%= producto.codigo %>/edit">
                    <i class="fa fa-pencil fa-1x"></i>
                </a>
            </div>
            <div class="row-item">
                <form method="POST" action="/product/<%= producto.codigo %>?_method=DELETE">
                    <button class="btn deleteLink" type="submit"><i class="fa fa-trash fa-1x"></i></button>
                </form>
            </div>
        </div>
    </td>
</tr>
