<tbody>
<%for(let i=0; i < usuarios.length; i++ ) { %>
    <tr>
        <th scope="row"><%= usuarios[i].id %></th>
        <td><%= usuarios[i].nombre %></td>
        <td><%= usuarios[i].apellido %></td>
        <td><%= usuarios[i].email %></td>
        <td>
            <div class="row justify-content-around align-items-center d-flex">
                <div class="row-item">
                    <a class="editLink" data-toggle="tooltip" href="/users/<%= usuarios[i].id %>/edit">
                        <i class="fa fa-pencil fa-1x"></i>
                    </a>
                </div>
                <div class="row-item">
                    <form method="POST" action="/users/<%= usuarios[i].id %>?_method=DELETE">
                        <button class="btn deleteLink" type="submit"><i class="fa fa-trash fa-1x"></i></button>
                    </form>
                </div>
            </div>
        </td>
    </tr>
<% } %>
</tbody>