<tr>
    <th class="contentTable" scope="row"><%= productos.codigo %></th>
    <td class="contentTable"><%= productos.descripcion %></td>
    <td class="contentTable"><%= productos.marca.descripcion %></td>
    <td class="contentTable colPrecio"><%= productos.precio %></td>
    <td class="contentTable"><%= productos.productStatus.descripcion %></td>
    <td>
        <div class="row justify-content-center align-items-center d-flex">
            <div class="row-item">
                <a class="editLink" data-toggle="tooltip" href="/product/<%= productos.id_product %>/edit">
                    <i class="fa fa-pencil fa-1x"></i>
                </a>
            </div>
            <div class="row-item">
                <form method="POST" action="/product/<%= productos.id_product %>?_method=DELETE">
                    <button class="btn deleteLink" type="submit"><i class="fa fa-trash fa-1x"></i></button>
                </form>
            </div>
        </div>
    </td>
</tr>
